.title {
	font-family: 'Lexend', sans-serif;
	font-weight: bold;
	font-size: 10vh;
	color: aliceblue;
	margin-bottom: 0;
}

.text {
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.link {
	color: aquamarine;
}