<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="postCard" *ngIf="!loading">

	<ng-template [ngIf]="post">

		<div class="postDetails">
			<div class="postTitle heading">Prompt Title</div>
			<div class="postContent smallHeading">Prompt Description</div>
		</div>

		<div class="songCard">
			<a class="songDetails heading" [href]="post.songLink" target="_blank"><strong>{{post.songTitle}}</strong> - {{post.songArtits}}</a>

			<div class="botón" #toggleButton onclick="this.classList.toggle('active');" (click)="play()" id="toggle">
				<div class="fondo" x="0" y="0" width="200" height="200"></div>
				<div class="icono" width="200" height="200">
				  <div class="parte izquierda" x="0" y="0" width="200" height="200" fill="#fff"></div>
				  <div class="parte derecha" x="0" y="0" width="200" height="200" fill="#fff"></div>
				</div>
				<div class="puntero"></div>
			  </div>

			<img
			class="songImage"
			src={{post.songArt}}
			alt=''>
		</div>

		<div class="postBackground"
		[style.background-image]="'url(' + post.songArt + ')'">
		</div>

		<span class="bopButton" [class.illuminated]="userHasBopped" (click)="bop()">
			🕺
		</span>
		<span class="bopCount smallHeading">{{bops}}</span>


		<span class="stopButton" [class.illuminated]="userHasStopped" (click)="stop()">
			✋
		</span>
		<span class="stopCount smallHeading">{{stops}}</span>

		<div class="postDescription">

			<span class="title">
				<a href="/profile">
					<img
					class="profilePicture"
					src={{user?.photoURL}}
					alt=''
					>
				</a>

				<a href="/profile">
					<span class="heading userTitle">
						{{user?.username}}
					</span>
				</a>
			</span>

			<div class="postContentDescription smallHeading">{{post.description}}</div>

		</div>

		<progress #audioProgress class="audioBar" value="0" max="100"></progress>

	</ng-template>

</div>