<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="postCard">

	<ng-template [ngIf]="post">

		<div class="postDetails">
			<div class="postTitle heading">{{post.prompt.name}}</div>
			<div class="postContent smallHeading">{{post.prompt.body}}</div>
		</div>

		<div class="songCard">
			<a class="songDetails heading" [href]="post.song.link" target="_blank"><strong>{{post.song.name}}</strong> - {{post.song.artist}}</a>

			<div class="botón" #toggleButton onclick="this.classList.toggle('active');" (click)="play()" id="toggle">
				<div class="fondo" x="0" y="0" width="200" height="200"></div>
				<div class="icono" width="200" height="200">
				  <div class="parte izquierda" x="0" y="0" width="200" height="200" fill="#fff"></div>
				  <div class="parte derecha" x="0" y="0" width="200" height="200" fill="#fff"></div>
				</div>
				<div class="puntero"></div>
			  </div>

			<img
			class="songImage"
			src={{post.song.image}}
			alt=''>
		</div>

		<div class="postBackground"
		[style.background-image]="'url(' + post.song.image + ')'">
		</div>

		<span class="bopButton" [class.illuminated]="post.userHasBopped" (click)="bop()">
			🕺
		</span>
		<span class="bopCount smallHeading">{{post.bops}}</span>


		<span class="stopButton" [class.illuminated]="post.userHasStopped" (click)="stop()">
			✋
		</span>
		<span class="stopCount smallHeading">{{post.stops}}</span>

		<div class="postDescription">

			<span class="title">
				<a href="/profile-page">
					<img
					class="profilePicture"
					src={{post.profile.photoURL}}
					alt=''
					>
				</a>

				<a href="/profile-page">
					<span class="heading userTitle">
						{{post.profile.displayName}}
					</span>
				</a>
			</span>

			<div class="postContentDescription smallHeading">{{post.postDescription}}</div>

		</div>

		<progress #audioProgress class="audioBar" value="0" max="100"></progress>

	</ng-template>

</div>