<div class="postCard">

	<app-song-card></app-song-card>
	
	<span class="interaction">
		<span class="profileDetails">
			<img class="profilePicture" src="https://img.welt.de/img/icon/mobile211205235/2252508457-ci102l-w1024/Premiere-Of-Warner-Bros-Pictures-Journey-2-The-Mysterious-Isl.jpg" alt="Dead Profile Pic">
			<span class="profileName smallHeading">{{profileName}}</span>
		</span>

		<span>
			<button class="bopReaction">🕺</button>
			<button class="stopReaction">✋</button>
			<button class="customReaction">+</button>
		</span>
	</span>

</div>