<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="postCard">

	<ng-template [ngIf]="post">

		<div class="postDetails">
			<div class="postTitle heading">{{post.promtName}}</div>
			<div class="postContent smallHeading">{{post.promtBody}}</div>
		</div>

		<div class="songCard">
			<a class="songDetails heading" [href]="post.songLink" target="_blank"><strong>{{post.songName}}</strong> - {{post.songArtist}}</a>

			<div class="botón" onclick="this.classList.toggle('active');" (click)="play()" id="toggle">
				<div class="fondo" x="0" y="0" width="200" height="200"></div>
				<div class="icono" width="200" height="200">
				  <div class="parte izquierda" x="0" y="0" width="200" height="200" fill="#fff"></div>
				  <div class="parte derecha" x="0" y="0" width="200" height="200" fill="#fff"></div>
				</div>
				<div class="puntero"></div>
			  </div>

			<img
			class="songImage"
			src={{post.songImage}}
			alt=''>
		</div>

		<div class="postBackground"
		[style.background-image]="'url(' + post.songImage + ')'">
		</div>

		<div class="postDescription">

			<span class="title">
				<img
				class="profilePicture"
				src={{post.profilePicture}}
				alt=''
				>

				<span class="heading userTitle">
					{{post.profileName}}
				</span>

					<span class="interactButton">
						<img
						class="interactIcon"
						src="https://cdn1.iconfinder.com/data/icons/web-and-user-interface-21/512/30-512.png"
						alt=''
						>
					</span>
			</span>

			<div class="postContentDescription smallHeading">{{post.postDescription}}</div>

		</div>

	</ng-template>

</div>