<router-outlet></router-outlet>

<div class="desktop">
	<div class="destopHeader" *ngIf="!isSignupOrSignInScreen && (appService.loading | async) === false">

		<span class="title">
			<a href="/profile">
				<img
					class="profilePicture"
					[src]="user?.photoURL || 'https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg'"
					alt=""
				>
			</a>

			<a href="/profile">
				<span class="smallHeading userTitle">
					{{user?.username}}
				</span>
			</a>
		</span>

	</div>
</div>

<!-- <div class="phone">
	<div class="phoneHeader" *ngIf="!isSignupOrSignInScreen && (appService.loading | async) === false">

		<span class="title">
			<a href="/profile">
				<img
					class="profilePicture"
					[src]="user?.photoURL || 'https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg'"
					alt=""
				>
			</a>

			<a href="/profile">
				<span class="smallHeading userTitle">
					{{user?.username}}
				</span>
			</a>
		</span>

	</div>
</div> -->