.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(20px) brightness(20%);
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.scrollPage {
	width: 100%;
}

.loader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: block;
	margin:15px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	box-shadow: -24px 0 #FFF, 24px 0 #FFF;
	box-sizing: border-box;
	animation: shadowPulse 2s linear infinite;
  }

  @keyframes shadowPulse {
	33% {
	  background: #FFF;
	  box-shadow: -24px 0  rgba(24, 180, 79, 0.83), 24px 0 #FFF;
	}
	66% {
	  background: rgba(24, 180, 79, 0.83);
	  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
	}
	100% {
	  background: #FFF;
	  box-shadow: -24px 0 rgba(24, 180, 79, 0.83), 24px 0 rgba(24, 180, 79, 0.83);
	}
  }